<%= link_to "Picture一覧画面にもどる", pictures_path %>
<% @favorites.each do |favorite| %>
  <%= picture=Picture.find_by(id: favorite.picture_id) %>
  <p>タイトル: <%= picture.title %></p>
  <p>本文: <%= picture.content %></p>
<% end %>
